@tailwind base;
@tailwind components;
@tailwind utilities;

.articulos {
    font-family: Montserrat, sans-serif;
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
    font-weight: 600;
    letter-spacing: 0.025em;
};